.bg-color-box {
  background-color: rgb(6, 12, 28);
  padding: 65px 120px 99px 120px !important;
  min-height: 100vh; /* Ensures it takes at least the full viewport height */
  display: flex;
  flex-direction: column;
}

.bg-color-box h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
  text-align: left;
  color: white;
  padding-bottom: 12px;
  margin-bottom: 0px;
}

.collection-divs-boxes {
  display: flex;
  gap: 30px;
  padding: 45px 0px 29px 0px;
  flex-wrap: wrap;
}

.user-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-text {
  display: flex;
  gap: 5px;
  align-items: center;
}

.user-text img {
  width: 28px;
  height: 28px;
}

.user-text p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
  color: white;
  margin-bottom: 0px;
}
.user-box-width{
  width: 100% !important;
}
.total-btn {
  /* width: Hug (61px)px; */
  position: relative;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px;
  background: transparent; /* Keep the background transparent */
  z-index: 1; 
  height: 38px;
  padding: 9px, 15px, 9px, 15px;
  background-color: transparent;
  color: white;
  font-size: 10px;
  font-weight: 600;
  /* line-height: 12.1px; */
  /* border: 1px solid; */
  /* border-image-source: linear-gradient(94.74deg, #85d8eb 9.96%, #1177e8 90.04%);
  border-image-slice: 1; */
  padding: 10px 20px;
  background: transparent; /* Optional: Set a transparent background if needed */
  color: #ffff; /* Optional: Set the text color */
  cursor: pointer;
  /* border-radius: 10px !important; */
}
.total-btn::before{
  align-items: center;
  justify-content: center;
  display: flex;
  height: 38px;
  content: '';
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  border: 1px solid transparent;
  border-radius: 16px;
  background: linear-gradient(94.74deg, #85d8eb 9.96%, #1177e8 90.04%); /* Gradient background */
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}

.user-title h3 {
  padding-top: 29px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.2px;
  text-align: left;
  color: white;
}

@media (max-width: 1369px) {
  .collection-divs-boxes {
    gap: 30px;
    padding: 45px 0px 29px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 1029px) {
  .collection-divs-boxes {
    gap: 30px;
    padding: 45px 0px 29px 0px;
    flex-direction: column;
    align-items: center;
  }
  .user-text {
    padding: 10px 0px 30px 0px;
  }
}
@media (max-width:769px) {
  .user-static-img{
    width: 100% !important;
  }
}
@media (max-width: 595px) {
  .bg-color-box {
    padding: 65px 60px 99px 60px !important;
  }
}

@media (max-width: 497px) {
  .bg-color-box {
    padding: 65px 30px 99px 30px !important;
  }
  .user-static-img {
    width: 100% !important;
  }
}
