.conect-btn{
font-size: 16px;
font-weight: 600;
line-height: 19.36px;
text-align: left;
color: white;
width: 157px !important;
height:42px !important;
gap: 10px;
border-radius: 7.5px;
background: linear-gradient(94.74deg, #85D8EB 9.96%, #1177E8 90.04%);
}
.main-box{
    padding: 16px 92px 17px 92px;
}
.search-bar {
    background-color: #343a40; /* Dark background color */
    color: white; /* Text color */
    border: none; /* Remove the border if needed */
  }
  
  .search-bar::placeholder {
    color: white; /* Placeholder text color */
    opacity: 1; /* Ensure full opacity for the placeholder */
  }
  
  /* Optional: If you want to style the input's border and focus state */
  .search-bar:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25); /* White shadow for focus */
  }
/* .form-control{
    background-color: transparent;
    color: white;
} */
.btn-primary {
width: 100% !important;
height:42px !important;
gap: 10px;
text-align: center !important;
color: white !important;
border-radius: 7.5px;
background: linear-gradient(94.74deg, #85D8EB 9.96%, #1177E8 90.04%);
/* font-family: Inter; */

}
.conect-btn {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 19.36px !important;
  text-align: left;
  margin-bottom: 0px;
}
.sreach-bar{
  width:293px !important;
height: 42px !important;
padding: 9px 15px 9px 15px !important;
gap: 10px;
border-radius: 10px !important;
border: 1px !important;
}
.nav-link{
font-size: 14px;
font-weight: 400;
line-height: 16.94px;
letter-spacing: 0.04em;
text-align: left;
color: white !important;
}
.links-nav{
padding-left: 105px !important;
gap: 35px;

}
.links-nav Nav.Link{
    background: linear-gradient(180deg, #85D8EB 0%, #1177E8 83.85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
@media (max-width:1016px) {
  .links-nav {
    padding-left: 50px !important;
    gap: 10px;
}
}