

@font-face {
  font-family: "Inter";
  src: url(../src/assets/font/Inter-VariableFont_slnt\,wght.ttf);
}

body {
  margin: 0;
  font-family: "Inter" !important;
}

code {
  font-family: "Inter" !important;
}